BOT_TOKEN="8995322264:AAGiz2crRFO0p_V0f9R_welCewDp9PYliNc"
CRYPTO_BOT_TOKEN="607900:AAFhDrAMBeUYtXGRTHp8ybqdnH0A7fCjuIG"
ADMIN_ID="8228003033"
GORGONA_API_KEY="1e622dbeefc6a71e85d84c965295f537"
GORGONA_BASE_URL="https://api.gorgonaboost.xyz"
XUI_URL="https://38.135.55.114:47506/gzlo4U8pXpOQV9287y"
XUI_USERNAME="dHHcIoUMLZ"
XUI_PASSWORD="MbLHxJfdCk"
XUI_API_TOKEN="jND34IYoEmH98UKMq5cR4kN8qd6FDzVQ345etSIR5Szx1z6i"
XUI_HOST="38.135.55.114"
XUI_PORT="47506"
DEFAULT_PRICE_VPN_1M="1.5"
DEFAULT_PRICE_VPN_3M="4.0"
DEFAULT_PRICE_VPN_6M="7.5"
DEFAULT_PRICE_VPN_12M="14.0"

# Reseller API
RESELLER_API_KEY=sb_a8ef337cf2ac4991bd83bfe2c21c8acee2263811f809ca73
RESELLER_BASE_URL=https://worker-production-53ca.up.railway.app
